backports.weakref==1.0rc1
bleach==1.5.0
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
Cython==0.29.21
easydict==1.9
Flask==1.1.2
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.9999999
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211372860/work
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.0.8
kiwisolver==1.2.0
lmdb==0.98
mahotas==1.4.10
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe==1.1.1
matplotlib==3.3.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1595522868214/work
opencv-python==4.3.0.36
Pillow==7.2.0
protobuf==3.12.3
pyclipper==1.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scipy==1.5.2
Shapely==1.7.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tensorflow==1.3.0
tensorflow-tensorboard==0.1.5
torch @ file:///home/guyu/torch-0.1.12.post1-cp36-cp36m-linux_x86_64.whl
torchvision==0.1.6
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
